main {
  /* layout */
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 303px 1fr;
  grid-template-rows: 146.5fr min-content 146.5fr;
  /* style */
  background-image: url(../../images/mobile/image-host.jpg);
  background-size: cover;
  background-position: center;
  /* position */
  position: relative;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7993;
  background: var(--color-blue-950);
  pointer-events: none;
}

#main-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 56px min-content 40px min-content 40px min-content;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
}

.logo-container {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* position */
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.text-content {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.logos-container {
  grid-column: 1 / -1;
  grid-row: 5 / 6;
}

.form-container {
  grid-column: 1 / -1;
  grid-row: 7 / 8;
}

#bg-pattern-dots {
  display: none;
}

/* SMALL MOBILE (375px and up) */
@media (min-width: 375px) {}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  main {
    /* layout */
    grid-template-columns: 1fr 592px 3fr;
    grid-template-rows: 156px min-content 156px;
    /* style */
    background-image: url(../../images/tablet/image-host.jpg);
    background-size: 460px auto;
    background-position: top right;
    background-repeat: no-repeat;
  }

  main::before {
    opacity: 1;
    z-index: -2;
  }

  #main-content {
    grid-template-columns: 260px 332px;
    grid-template-rows: 160px 367px 132px 53px;
  }

  .logo-container {
    justify-content: start;
    grid-column: 1 / 2;
    background-color: var(--color-blue-950);
  }

  .text-content {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 24px;
    /* position */
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: var(--color-blue-950);
  }

  .text-content>* {
    width: 448px;
    text-align: left;
  }

  .form-container {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    background-color: var(--color-blue-950);
  }

  .form-container form {
    width: 448px;
  }

  .logos-container {
    grid-column: 1 / -1;
    grid-row: 4 / 5;
    background-color: var(--color-blue-950);
  }

  #bg-pattern-dots {
    display: block;
    position: absolute;
    top: 800px;
    right: -115px;
    z-index: -1;
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}