main {
  /* layout */
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 303px 1fr;
  grid-template-rows: 146.5fr 112px min-content 97px min-content 146.5fr;
  /* position */
  position: relative;
}

.image-overlay-container {
  /* position */
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: inline-block;
}

.image-overlay-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-blue-950);
  opacity: 0.78;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 0;
}

.image-overlay-container img {
  display: block;
  width: 100%;
  height: 100%;
  /* or height: 100% */
  object-fit: cover;
  /* This ensures the image covers the area without distortion */
  z-index: -5;
}

.logo-container {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* position */
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 2;
}

.text-content {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  z-index: 2;
}

.logos-container {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  z-index: 2;
}

.form-container {
  /* position */
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  z-index: 2;
}

.bg-pattern-dots {
  display: none;
}

/* SMALL MOBILE (375px and up) */
@media (min-width: 375px) {}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  main {
    /* layout */
    grid-template-columns: 1fr 264px 183px 144px 3fr;
    grid-template-rows: 156px 160px 88px min-content 132px 53px 156px;
    /* style */
    background-color: var(--color-blue-950);
  }

  .image-overlay-container {
    /* position */
    grid-column: 3 / -1;
    grid-row: 1 / -2;
  }

  .image-overlay-container::before {
    background-color: var(--color-green);
    opacity: 0.8;
  }

  .logo-container {
    /* layout */
    justify-content: start;
    /* style */
    background-color: var(--color-blue-950);
    /* position */
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .text-content {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    gap: 24px;
    /* position */
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    background-color: var(--color-blue-950);
  }

  .text-content>* {
    width: 448px;
    text-align: left;
  }

  .form-container {
    /* position */
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    background-color: var(--color-blue-950);
  }

  .form-container form {
    width: 448px;
  }

  .logos-container {
    /* layout */
    width: 548px;
    /* position */
    grid-column: 2 / 5;
    grid-row: 6 / 7;
    /* style */
    background-color: var(--color-blue-950);
  }

  .background-overlay {
    /* position */
    grid-column: 2 / 5;
    grid-row: 3 / 7;
    z-index: 1;
    /* style */
    background-color: var(--color-blue-950);
  }

  .bg-pattern-dots {
    display: block;
    margin-left: 28px;
    /* position */
    grid-column: -2 / -1;
    grid-row: 6 / 7;
    z-index: 2;
    /* size */
    width: auto;
    height: auto;
    object-fit: none;
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {
  main {
    /* layout */
    grid-template-columns: 1fr 384px 64px 288px 312px 3.375fr;
    grid-template-rows: 153px 160px 88px min-content 132px 53px 153px;
    /* style */
    background-color: var(--color-blue-950);
  }

  .image-overlay-container {
    grid-column: 3 / -1;
    grid-row: 2 / -2;
  }

  .text-content {
    /* position */
    grid-column: 2 / 5;
  }

  .text-content h1 {
    width: 665px;
  }
}