.text-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-200);
}

.logos-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}