.form-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex;
  gap: var(--spacing-100);
}

input {
  /* layout */
  height: 44px;
  width: 100%;
  padding: 14px 20px;
  /* style */
  border-radius: 999px;
  background: var(--color-blue-900);
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-desktop-text-preset-3);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  color: var(--color-white);
}

input::placeholder {
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-desktop-text-preset-3);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  color: var(--color-white);
  opacity: 0.5;
}

button {
  /* layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px var(--spacing-1200);
  /* style */
  border-radius: 28px;
  background: var(--color-green);
  box-shadow: 0 2px 4px 0 rgba(84, 230, 175, 0.14);
  /* typography */
  font-family: var(--font-family-regular);
  font-size: var(--font-size-desktop-text-preset-3);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  color: var(--color-blue-950);
}

button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), #54E6AF;
  box-shadow: 0 2px 4px 0 rgba(84, 230, 175, 0.14);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  .form-container {
    /* layout */
    justify-content: center;
    /* position */
    position: relative;
  }

  input {
    height: 52px;
    padding: 12px 32px;
  }

  button {
    /* layout */
    padding: 8px var(--spacing-400);
    /* position */
    position: absolute;
    top: 0;
    right: 148px;
    transform: translateY(100%);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}