form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-100);
}

input {
  /* layout */
  height: 44px;
  width: 100%;
  padding: 14px 20px;
  /* style */
  border-radius: 999px;
  background: var(--color-blue-900);
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-desktop-text-preset-3);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  color: var(--color-white);
}

input::placeholder {
  /* typography */
  font-family: var(--font-family-primary);
  font-size: var(--font-size-desktop-text-preset-3);
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  color: var(--color-white);
  opacity: 0.5;
}