/* IMPORT */

@font-face {
  font-family: 'Chivo';
  src: url('../../fonts/Chivo.ttf') format('truetype');
}

@font-face {
  font-family: 'Chivo Light';
  src: url('../../fonts/Chivo-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Chivo Extra Light';
  src: url('../../fonts/Chivo-ExtraLight.ttf') format('truetype');
}

/* VARIABLES */

:root {
  --font-family-regular: 'Chivo', sans-serif;
  --font-family-light: 'Chivo Light', sans-serif;
  --font-family-extra-light: 'Chivo Extra Light', sans-serif;
  --font-size-mobile-text-preset-1: 32px;
  --font-size-mobile-text-preset-2: 14px;
  --font-size-desktop-text-preset-1: 48px;
  --font-size-desktop-text-preset-2: 18px;
  --font-size-desktop-text-preset-3: 14px;
  --font-size-desktop-text-preset-4: 12px;
}

/* TYPOGRAPHY STYLES */

h1 {
  /* mobile/text-preset-1 */
  font-family: var(--font-family-extra-light);
  font-size: var(--font-size-mobile-text-preset-1);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-green);
}

h1 span {
  color: var(--color-white);
}

p {
  /* mobile/text-preset-2 */
  font-family: var(--font-family-extra-light);
  font-size: var(--font-size-mobile-text-preset-2);
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-blue-300);
}

/* TABLET (768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: var(--font-size-desktop-text-preset-1);
  }

  p {
    font-size: var(--font-size-desktop-text-preset-2);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {}