/* == COLORS == */
:root {
  /* Green */
  --color-green: #54E6AF;
  /* Blue */
  --color-blue-950: #121725;
  --color-blue-900: #2C344B;
  --color-blue-600: #5A668A;
  --color-blue-300: #C2CBE5;
  /* White */
  --color-white: #FFFFFF;
  /* Black */
  --color-black: #000000;
  /* Red */
  --color-red: #FB3E3E;
}

/* == SPACING == */
:root {
  --spacing-1300: 104px;
  --spacing-1200: 96px;
  --spacing-1100: 88px;
  --spacing-1000: 80px;
  --spacing-900: 72px;
  --spacing-800: 64px;
  --spacing-700: 56px;
  --spacing-600: 48px;
  --spacing-500: 40px;
  --spacing-400: 32px;
  --spacing-300: 24px;
  --spacing-200: 16px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}